* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

// Begin of customization
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

ol {
    list-style-type: decimal;
}

.notes--extra {
  padding: 1em 1em 0 1.5em;
    margin: 1.5em 0;
    border: 2px solid #BDE5F8;
    color: #999;
    line-height: 1.8;
    border-left: .75em solid #ccc;
}

.notes--extra h1 {
text-align:center;
}

.notes--extra h2 {
text-align:center;
}

.notes--extra h3 {
text-align:center;
}

.notes--extra h4 {
text-align:center;
}

.notes--extra h5 {
text-align:center;
}

/* Glyph, by Harry Roberts */

hr.paragraph {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.paragraph:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: 1em;
    padding: 0 0.25em;
    background: white;
}



/* Design Notes div with different styles */

.notes--info, .notes--success, .notes--warning, .notes--error {
    padding:20px;
    margin:10px 0;
}
.notes--info:before, .notes--success:before, .notes--warning:before, .notes--error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.notes--info:before {
    content:"\f05a";
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--success:before {
    content:'\f00c';
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--warning:before {
    content:'\f071';
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--error:before {
    content:'\f057';
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--info {
    /*color: #00529B;*/
    /*background-color: #BDE5F8;*/
    border: 2px solid #BDE5F8;
}
.notes--success {
    /*color: #4F8A10;*/
    /*background-color: #DFF2BF;*/
    border: 2px solid #DFF2BF;
}
.notes--warning {
    /*color: #9F6000;*/
    /*background-color: #FEEFB3;*/
    border: 2px solid #FEEFB3;
}
.notes--error {
    /*color: #D8000C;*/
    /*background-color: #FFBABA;*/
    border: 2px solid #FFBABA;
}


figure {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  position: relative !important;
  overflow: hidden !important;
  padding-bottom: 1em;
}

figure p {
text-align: center;
}

figure figcaption {
    background: rgba(236, 233, 233, 0.75) !important;
      color: #888282 !important;
      padding: 2px 5px !important;
      bottom: 0em !important;
      text-align: center;
      margin-left: auto !important;
    margin-right: auto !important;
    max-width: 90%;
    font-style: italic;
}

figure img {
    margin-left: auto !important;
    margin-right: auto !important;
}

figure.highlight:hover {
  opacity: 1 !important;
  left: 0 !important;
}

figure.highlight:before {
  content: "" !important;
  position: absolute !important;
  background: rgba(255,255,255,0.75) !important;
  color: black !important;
  width: 1px !important;
  height: 1px !important;
  -webkit-border-radius: 1px !important;
  -moz-border-radius:    1px !important;
  border-radius:         11px !important;
  text-align: center !important;
  font-size: 1px !important;
  line-height: 1px !important;
  /* Only Fx 4 supporting transitions on psuedo elements so far... */
  -webkit-transition: all 0.6s ease !important;
  -moz-transition: all 0.6s ease !important;
  -o-transition: all 0.6s ease !important;
  opacity: 0.75 !important;
  bottom: 2em !important;
  left: 10px !important;
}



// END of customization

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

body {
  background-color: $base-background-color;
}

hr {
  border-top: none;
  border-bottom: 2px solid lighten($light-gray-color, 7%);
  width: 100%;
  margin: $small-spacing 0;
}

.container {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-weight: normal;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.link {
  color: $blue-color;
  padding-bottom: .05em;
  border-bottom: 2px solid transparent;

  @include transition(border 300ms linear);

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $blue-color;
  }
}

.site-header {
  border-bottom: 1px solid lighten($light-gray-color, 5%);
  margin-bottom: $small-spacing;
  min-height: 80px;
}

.intro {
  .author-name {
    display: inline-block;
    padding: 0 .2em;
    background: lighten($light-gray-color, 15%)
  }

  a {
    @extend .link;
  }

  .container {
    padding-bottom: 0;
  }
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  letter-spacing: 0.8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;

  span {
    font-weight: 700;
  }
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;

  li {
    display: inline-block;
    padding: 0 .6em;
  }

  a {
    @extend .link;
  }
}

.post-list {
  background-color: lighten($light-gray-color, 17%);
}

.category-title {
  margin: 1em 0 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

.post-item {
  margin-bottom: 0.2em;
  display: block;

  a {
    color: $action-color;
    font-weight: bold;
  }

  .article-title {
    display: inline-block;
    width: 85%;
    border-bottom: 1px dashed lighten($light-gray-color, 10%);
  }

  .date-label {
    border: 1px solid lighten($light-gray-color, 10%);
    padding: 0 0.2em;
    margin-left: 1em;
    margin-top: 2px;
    @extend .pull-right;
  }

}

.post-meta {
  color: $medium-gray-color;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  font-size: rem(14);
}

.post-link,
.post a,
.page a {
  @extend .link;
}

.post {
  @extend .clearfix;
}

.pagination {
  li, a, span {
    display: inline-block;
  }

  a, span {
    font-size: rem(12);
    padding: .5em;
  }

  .prev, .next {
    @extend .link;
  }
}

.share {
  border-top: 0.2em solid lighten($light-gray-color, 13%);
  padding-top: $base-spacing;
  margin-top: $base-spacing;

  p {
    margin: 0;
    font-size: rem(14);
    color: $medium-gray-color;
  }
}

.disqus {
  background-color: lighten($light-gray-color, 16%);
  padding: $base-spacing 0;

  hr {
    margin: $base-spacing 0;
  }
}

.duoshuo {
  background-color: white;
  padding: $base-spacing 0;

  hr {
    margin: $base-spacing 0;
  }
}

.site-footer {
  @extend .clearfix;

  padding: $base-spacing 0;

  a {
    @extend .link;
  }

  small {
    display: block;
    font-size: rem(12);
    color: darken($medium-gray-color, 10%);
  }

  .block {
    display: block;
  }
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;

  iframe,
  object,
  embed {
    position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  }
}

.divider {
  border-top: 0.2em solid lighten($light-gray-color, 13%);
  margin-bottom: $base-spacing * 2;
  margin-top: $base-spacing * 2;
}

// This applies from 0px to 600px
@media (max-width: 600px) {
  .date-label {
    float: left !important;
    border: 0;
    margin-left: 0 !important;
    margin-top: 2px;
    margin-right: 1em;
  }

  .post-item {
    border: 1px solid lighten($light-gray-color, 10%);
    padding: 0 0.5em;
    background: lighten($light-gray-color, 15%);
  }

  .post-link {
    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid transparent;
      color: $blue-color;
    }
  }
}
